In [1]:
import pandas as pd
data = pd.read_csv('owid-covid-data.csv')

- DATA_LIST
    - USA: 미국
    - NAM: 
    - KOR: 한국
    - SAM: 남아메리카
    - JPN: 일본
    - CHN: 중국
    - RSI: 러시아
    - EEU: 동유럽
    - WEU: 서유럽
    - MAS: 중동
    - AUS: 
    - AFR: 아프리카
    - SAF: 
    - HKO: 홍콩
    - ASIA: 아시아
        - 중동,한국,일본,중국,홍콩을 제외한 나라는 아시아로 통합하여 분류하였고 
        - 중국에 속하지만 마카오는 아시아로 분류함

In [2]:
KOR = ['South Korea']
JPN = ['Japan']
CHN = ['China']
HKO = ['Hong Kong']
MAS = ['Afghanistan','Bahrain','Kuwait','Saudi Arabia',]
WEU = ['Andorra','Austria','Belgium','England','France','Guernsey','Iceland','Ireland','Isle of Man','Italy','Jersey','Luxembourg',
       'Netherlands','Poland','Portugal','Scotland','Spain','Sweden','United Kingdom','Wales']
ASIA = ['Armenia','Azerbaijan','Bangladesh','Bhutan','Brunei','Cambodia','Georgia','India','Indonesia','Iran','Iraq','Israel',
        'Jordan','Kazakhstan','Kyrgyzstan','Laos','Lebanon','Macao','Malaysia','Maldives','Myanmar','Nepal','Northern Cyprus',
        'Oman','Pakistan','Palestine','Philippines','Qatar','Singapore','Sri Lanka','Syria','Taiwan','Tajikistan',
        'United Arab Emirates','Uzbekistan','Vietnam','Yemen']

DATA_LIST=['USA','NAM','KOR','SAM','JPN','CHN','RSI','EEU','WEU','MAS','AUS','AFR','SAF','HKO','ASIA']
data_dict={i:pd.DataFrame(columns=["date", "loc", "total_cases",'total_deaths','people_vaccinated']) for i in DATA_LIST}

In [3]:
# pd.to_datetime(): datetime(날짜와 시간) 객체로 변환.
# dt.: datetime 구성 요소(예: 연, 월, 일 등)에 액세스.
# to_period('M'): 월별로 그룹화.
data['month'] = pd.to_datetime(data['date']).dt.to_period('M') 
for month, month_group in data.groupby('month'):
    data_dict2 = {i: pd.DataFrame({}) for i in DATA_LIST}

    for continent, continent_group in month_group.groupby('continent'):
        for location, location_group in continent_group.groupby('location'):
            if continent == 'Africa':
                if location == 'South Africa':
                    data_dict2['SAF'] = pd.concat([data_dict2.get('SAF', pd.DataFrame({})), location_group])
                else:
                    data_dict2['AFR'] = pd.concat([data_dict2.get('AFR', pd.DataFrame({})), location_group])
            elif continent == 'Asia':
                if location == 'South Korea':
                    data_dict2['KOR'] = pd.concat([data_dict2.get('KOR', pd.DataFrame({})), location_group])
                elif location == 'Japan':
                    data_dict2['JPN'] = pd.concat([data_dict2.get('JPN', pd.DataFrame({})), location_group])
                elif location == 'MAS':
                    data_dict2['MAS'] = pd.concat([data_dict2.get('MAS', pd.DataFrame({})), location_group])
                elif location == 'China':
                    data_dict2['CHN'] = pd.concat([data_dict2.get('CHN', pd.DataFrame({})), location_group])
                elif location == 'Hong Kong':
                    data_dict2['HKO'] = pd.concat([data_dict2.get('HKO', pd.DataFrame({})), location_group])
                else:
                    data_dict2['ASIA'] = pd.concat([data_dict2.get('ASIA', pd.DataFrame({})), location_group])
            elif continent == 'Europe':
                if location == 'Russia':
                    data_dict2['RSI'] = pd.concat([data_dict2.get('RSI', pd.DataFrame({})), location_group])
                elif location in WEU:
                    data_dict2['WEU'] = pd.concat([data_dict2.get('WEU', pd.DataFrame({})), location_group])
                else:
                    data_dict2['EEU'] = pd.concat([data_dict2.get('EEU', pd.DataFrame({})), location_group])
            elif continent == 'North America':
                if location == 'United States':
                    data_dict2['USA'] = pd.concat([data_dict2.get('USA', pd.DataFrame({})), location_group])
                else:
                    data_dict2['NAM'] = pd.concat([data_dict2.get('NAM', pd.DataFrame({})), location_group])
            elif continent == 'Oceania':
                data_dict2['AUS'] = pd.concat([data_dict2.get('AUS', pd.DataFrame({})), location_group])
            elif continent == 'South America':
                data_dict2['SAM'] = pd.concat([data_dict2.get('SAM', pd.DataFrame({})), location_group])

    for loc, dp in data_dict2.items():
        try:
            data_dict[loc] = pd.concat([data_dict.get(loc, pd.DataFrame({})),
                                       pd.DataFrame({'date': [month], 
                                                     'loc': [loc],
                                                     'total_cases': [dp['new_cases'].sum()],
                                                     'total_deaths': [dp['new_deaths'].sum()],
                                                     'total_vaccinations': [dp['new_vaccinations'].sum()]})])
            filename = f'country/{loc}.csv'
            data_dict[loc].to_csv(filename, index=False)
        except:
            pass
        
data_dict['KOR']

,date,loc,total_cases,total_deaths,people_vaccinated,total_vaccinations
0,2020-01,KOR,11.0,0.0,NaN,0.0
0,2020-02,KOR,2920.0,16.0,NaN,0.0
0,2020-03,KOR,6855.0,146.0,NaN,0.0
0,2020-04,KOR,979.0,85.0,NaN,0.0
0,2020-05,KOR,703.0,23.0,NaN,0.0
0,2020-06,KOR,1331.0,12.0,NaN,0.0
0,2020-07,KOR,1506.0,19.0,NaN,0.0
0,2020-08,KOR,5642.0,23.0,NaN,0.0
0,2020-09,KOR,3865.0,89.0,NaN,0.0
0,2020-10,KOR,2699.0,51.0,NaN,0.0
0,2020-11,KOR,7688.0,62.0,NaN,0.0
0,2020-12,KOR,26523.0,374.0,NaN,0.0
0,2021-01,KOR,17781.0,520.0,NaN,0.0
0,2021-02,KOR,11517.0,183.0,NaN,3108.0
0,2021-03,KOR,13611.0,128.0,NaN,899942.0
0,2021-04,KOR,18995.0,100.0,NaN,2754562.0
0,2021-05,KOR,18171.0,132.0,NaN,4449351.0
0,2021-06,KOR,16925.0,58.0,NaN,11371210.0
0,2021-07,KOR,42061.0,77.0,NaN,6284048.0
0,2021-08,KOR,53657.0,194.0,NaN,18430490.0
0,2021-09,KOR,60332.0,205.0,NaN,19769501.0
0,2021-10,KOR,52613.0,362.0,NaN,14775772.0
0,2021-11,KOR,85961.0,799.0,NaN,6892440.0
0,2021-12,KOR,182904.0,1967.0,NaN,18274849.0
0,2022-01,KOR,228790.0,1147.0,NaN,10648470.0
0,2022-02,KOR,2409405.0,1398.0,NaN,4755892.0
0,2022-03,KOR,10102373.0,8420.0,NaN,1686213.0
0,2022-04,KOR,3899831.0,6285.0,NaN,2335760.0
0,2022-05,KOR,843766.0,1322.0,NaN,2218598.0
0,2022-06,KOR,249442.0,358.0,NaN,428434.0
0,2022-07,KOR,1407193.0,513.0,NaN,1289102.0
0,2022-08,KOR,3470274.0,1808.0,NaN,1702003.0
0,2022-09,KOR,1522777.0,1569.0,NaN,330721.0
0,2022-10,KOR,788208.0,785.0,NaN,142012.0
0,2022-11,KOR,1541425.0,1391.0,NaN,115384.0
0,2022-12,KOR,1960539.0,1651.0,NaN,22624.0
0,2023-01,KOR,1117373.0,1250.0,NaN,0.0
0,2023-02,KOR,337075.0,481.0,NaN,0.0
0,2023-03,KOR,306409.0,278.0,NaN,0.0
0,2023-04,KOR,350756.0,213.0,NaN,0.0
0,2023-05,KOR,532625.0,267.0,NaN,0.0
0,2023-06,KOR,428095.0,263.0,NaN,0.0
0,2023-07,KOR,1070190.0,199.0,NaN,0.0
0,2023-08,KOR,1234746.0,596.0,NaN,0.0
0,2023-09,KOR,135331.0,122.0,NaN,0.0
0,2023-10,KOR,0.0,0.0,NaN,0.0
0,2023-11,KOR,0.0,0.0,NaN,0.0